<section class="ðŸŒ-c-test-case">

    {{!-- Header --}}
    <header class="ðŸŒ-c-test-case__header">
        <div class="l-container">
            <h1 class="ðŸŒ-c-test-case__title"><a href="{{ docs-url }}" title="â†’ Read more about {{ name }} in the docs"><strong>{{ name }}</strong></a> tests</h1>
            <p class="ðŸŒ-c-test-case__header-block">All associated settings in <strong class="ðŸŒ-c-file-path">assets/scss/_settings.scss â†’ {{ settings-location }}</strong></p>
        </div>
    </header>
    {{!-- //Header --}}

    {{!-- Loop through each top-level test --}}
    {{#each test-case}}
        <div class="ðŸŒ-c-test-case__inner">

            <div class="l-container">

                {{!-- The selector --}}
                <div class="ðŸŒ-c-test-case__selector ðŸŒ-c-test-case__block">
                    <h2>
                        <code class="ðŸŒ-b-code">{{ this.selector }}</code>
                    </h2>
                </div>
                {{!-- //The selector --}}

                {{!-- The description --}}
                <div class="ðŸŒ-c-test-case__test-desc ðŸŒ-c-test-case__block">
                    <p>{{{ this.description }}}</p>
                </div>
                {{!-- //The description --}}

            </div>

            {{!-- Run the test --}}
            <div class="ðŸŒ-c-test-case__test-run">
                {{{ this.run }}}
            </div>
            {{!-- //Run the test --}}

            {{!-- Test legend --}}
            {{> test-case-legend}}
            {{!-- //Test legend --}}

        </div>
    {{/each}}
    {{!-- //Loop through each top-level test --}}

</section>
