<section class="ðŸŒ-c-test-case">

This component is a large tile that represents an option for the My Template Creation starting point.

    {{!-- Header --}}
    <header class="ðŸŒ-c-test-case__header">
        <div class="l-container">
            <h1 class="ðŸŒ-c-test-case__title"><strong>{{ name }}</strong> tests</h1>
            <p class="ðŸŒ-c-test-case__header-block">
                <a href="{{ docs-url }}" rel="external" class="ðŸŒ-b-link"><strong>Documentation</strong></a>
                &nbsp;/&nbsp;
                <a href="{{ source-code-url }}" rel="external" class="ðŸŒ-b-link"><strong>Source code</strong></a>
            </p>
            <p class="ðŸŒ-c-test-case__header-block">All associated settings ready for testing: <strong class="ðŸŒ-c-file-path">test/src/assets/scss/_settings.scss â†’ {{ settings-location }}</strong></p>
        </div>
    </header>
    {{!-- //Header --}}

    {{!-- Loop through each test --}}
    {{#each this.tests}}
        <div class="ðŸŒ-c-test-case__inner">

            {{!-- The selector --}}
            <div class="ðŸŒ-c-test-case__counter-master  l-container">
                <div class="ðŸŒ-c-test-case__selector ðŸŒ-c-test-case__block">
                    <h2><code class="ðŸŒ-b-code">{{ selector }}</code></h2>
                </div>
            </div>
            {{!-- //The selector --}}

            {{#each this.test}}

                {{!-- The description --}}
                <div class="ðŸŒ-c-test-case__counter-slave  l-container slave">
                    <div class="ðŸŒ-c-test-case__test-desc ðŸŒ-c-test-case__block">
                        <p>{{{ description }}}</p>
                    </div>
                </div>
                {{!-- //The description --}}

                {{!-- Run the test --}}
                <div class="ðŸŒ-c-test-case__test-run{{#unless remove-test-canvas-bg}} ðŸŒ-c-test-case__test-run--no-bg{{/unless}}">
                    {{{ run }}}
                </div>
                {{!-- //Run the test --}}

                {{!-- Test legend --}}
                {{#unless remove-legend}}
                    {{> test-case-legend}}
                {{/unless}}
                {{!-- //Test legend --}}

            {{/each}}
        </div>
    {{/each}}
    {{!-- //Loop through each test --}}

</section>
